.header
{    
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #30363d;  
    margin: -1rem -1rem;
}

svg{
    width:2rem;
    height:4.2rem;
    margin-left: 2rem;
    fill:white;
}

.Main-head
{
    margin-top: 1.5rem;
    font-family:"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color:white;
    margin-left: 2rem;
}

.content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.left{
    width: 14rem;
    height: 24rem;
    background-color:rgb(1 4 9 / 80%);
    margin-top: 4rem;
    margin-left: 5rem;
    border-radius:1rem;
}

.search{
    height: 2rem;
    width: 28rem;
    margin-top: 4rem;
    margin-left: 3.5rem;
    border-radius: 0.4rem;
    background-color:rgb(1 4 9 / 80%);
    color:white;
}
.box{
    display: grid;
    grid-template-columns : 0.5fr 0.5fr 1fr;;
    column-gap:0.5rem;
    margin-left: 0.5rem;
}

.box1,.box2,.box3{
    width:10rem;
    height:6rem;
    background-color:rgb(1 4 9 / 80%);
    margin-left:0rem;
    margin-top:3rem;
    border-radius:1rem;   
}



.box4{
    border-radius: 0.8rem;
    width: 34rem;
    height: 8rem;
    margin-top: 3.5rem;
    margin-left:0.5rem;
    background-color: rgb(1 4 9 / 80%);
}

body{
    background-color:#d2dbe3;
}

.center{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    margin-top: 1rem;
    height:1rem;
}


@media (max-width:700px)
{
 .content{
     grid-template-columns:1fr ;
    
 }   
 .box{
     display: grid;
    grid-template-columns:1fr ;
    place-content:center;
    align-items: center;
    justify-content: start;
    justify-items: center;
    width:28rem;
 }
.search{
    margin-left:1rem;
}
.box4{
    width:28rem;
    margin-bottom:2rem;
    margin-top:2.8rem;
}
.header{
    display: grid;
    grid-template-columns:1fr 0.5fr;
    width:auto;
}
}














